body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  .container h2 {
    margin-top: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url('logo.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .container input[type="email"],
  .container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .container button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .container .login {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
  }
  
  .container .login a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .container .mensaje {
    color: red;
    margin-bottom: 10px;
  }
  